.place-card{
    display: grid;
    margin-top: 90px;
    margin-bottom: 80px;
    max-width: 100%;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 460px auto;
    row-gap: 48px;
    column-gap: 40px;
}